* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f5fbe9; /*light yellow*/
    --secondary-color:#268EFF; /*dark blue*/
    --tertiary-color: #716FDC; /*dark purple*/
    --neutral-color: Black;
    --secondary-supplement-color: #34bffa; /*light blue*/
    --tertiary-supplement-color: #aaa9ea; /*light purple*/
    --font-color-gray: lightgray;
    --font-color-white: white;
}


/*******START Footer General*******/

.footer {
    background: var(--tertiary-color);
    color: var(--font-color-gray);
    height: 350px;
    position: relative;
    margin-top: 100px;
    border-top: 4px solid black;
}

.footer-content{
    display: flex;
    height: 250px;
}

#footer-titles {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Lora', serif; */
}

/*******END Footer General*******/
/*******START Footer first-left about section*******/

.footer-section-about {
    flex: 1;
    /* border: 2px solid white; */
    padding: 30px;
}

.footer-logo-pic {
    width: 140px;
}

.footer-socials-all img{
    display: inline-block;
    border: 2px solid var(--secondary-color);
    padding: 3px;
    width: 30px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer-socials-all li{
    display: inline;

}

.footer-socials-all a:hover {
    border: 1px solid white;
    color: white;
} 

/*******END Footer first-left about section*******/
/*******START Footer second-center links section*******/

.footer-section-links {
    flex: 1;
    padding: 30px;
    /* border: 2px solid white; */
}

.footer-links-all li{
    display: inline;
}

.footer-links-all a{
    color: var(--font-color-dark-gray);
    padding: .5em;
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'Lora', serif;
    padding: 0;
    padding: 3px;
    padding-left: 8%;
    padding-right: 9%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 10%;
    /* border: 2px solid white; */
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links-all a:hover{
    background-color: var(--tertiary-supplement-color);
}

.footer-links-all{
    margin-top: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    padding: 3px;
    padding-bottom: 30%;
    padding-top: 10%;
    margin-left: -7%;
    background-image: url(Images/footer-book.png);
    background-size: cover;
    /* border: 2px solid white; */
}

/*******END Footer second-center links section*******/
/*******START Footer third-right contact-us section*******/

.footer-section-contact {
    flex: 1;
    padding: 30px;
    /* border: 2px solid white; */
}

.footer-contact-input,
.footer-text-input {
    width: 90%;
    background: var(--tertiary-supplement-color);
    color: var(--neutral-color);
    margin-bottom: 7px;
    padding: .7rem 1.2rem;
    border: none;
    border-radius: 3%;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif !important;
}

.contact-button {
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08rem;
    font-family: Arial, Helvetica, sans-serif !important;
}
  
.contact-button:hover {
    color: white;
    background: #005255;
}

.footer-note {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

/*******END Footer third-right contact-us section*******/

.footer-bottom{
    background: var(--tertiary-supplement-color);
    color: var(--font-color-gray);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
} 

